<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<applicationSettings>
		<Prg_TrackSentInvoice.Properties.Settings>
			<setting name="CheckedRadioButton" serializeAs="bool">
				<value>false</value>
			</setting>
		</Prg_TrackSentInvoice.Properties.Settings>
	</applicationSettings>
</configuration>